/* YourComponent.module.css */
.icon {
  font-size: 50px;
}

.card:hover .icon {
  transform: scale(2);
  transition: transform 900ms ease-in-out;
}

.card:hover .circle {
  background: rgb(255, 246, 176);
  transition: background 1000ms ease-in-out;
}

.homeEmojiCircle {
  right: 30px;
  transition: right ease-in 0.6s;
}

.servicesCard:hover .homeEmojiCircle {
  right: 80px;
}
