/* w-[1100px] h-[1000px] rounded-full bg-green-500 absolute left-[-400px] top-[-399px] overflow-hidden flex justify-end items-center */

.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.circle {
}

.afiterClickCircle {
}
